compile_commands.json
.ccls-cache
*/build/
build/
.cache
.clangd
.undodir
.vim-session*
.mypy_cache/
.idea
.gdb_history
*.dSYM
pybinding.cpython-310-x86_64-linux-gnu.so
target 
Cargo.lock
.DS_Store
.vscode/*.log
/cmake-build-debug*
