/build
/.idea
/.cache
/.ccls-cache
/.mypy_cache
/compile_commands.json
/cmake-build-debug*
/cmake_build*
/target 
*/build/
*.dSYM
/trace*
/coverage

Cargo.lock
.DS_Store
/cjpm.lock 
/.vscode/cjpm_build_args.json
